<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <!-- xmlns:fb="http://www.facebook.com/2008/fbml" -->
   <link href='/assets/favicon.ico'/>
  <head>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
        <%= image_tag "lasthope.png" %>
        <div id="star">
          <%= image_tag "last_hope_star.png" %>
          <%= image_tag "last_hope_star_2.png" %>
          <%= image_tag "last_hope_star_3.png" %>
          <%= image_tag "last_hope_star_4.png" %>
          <%= image_tag "last_hope_star_5.png" %>
        </div>
      </div>
    <div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
